.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.table-cell > input {
  padding: 0.3em;
}

.table-cell {
  display: table-cell;
  border: 1px solid gray;
}

.table-header {
  display: table-header-group;
  background-color: 'lightred';
}

.Login {
  display: flex;
  align-items: center;
  height: 100vh;
}

.Login-form {
  display: block;
  margin: auto;
  text-align: left;
}

.Login-element, .Login-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

label {
  margin-right: 10px;
}

.Editors-links {
  margin-top: 1em;
}
